mylist = [1,2,3,4,5,6,7,8,10]

In [5]:
for i in mylist:
    if i % 2 == 0:
        print(f' {i} :The number is even')
    else:
        print(f' {i} :The number is odd')

 1 :The number is odd
 2 :The number is even
 3 :The number is odd
 4 :The number is even
 5 :The number is odd
 6 :The number is even
 7 :The number is odd
 8 :The number is even
 10 :The number is even

# Tuple Unpacking

In [6]:
list1 = [(1,2),(3,4),(5,6),(7,8)]
for (a,b) in list1 :
    print(a)
    print(b)

1
2
3
4
5
6
7
8

## Tuple Unpacking in Dictionaries

In [9]:
dict= {'k1':1,'k2':2,"k3":3}
for key,value in dict.items():
    print(value)

1
2
3

Key words

In [10]:
list=[1,2,3]

for i in list:
    #do not want to use this loop as of now
    pass
print('Loop not in function')

Loop not in function

In [11]:
# Continue
str='Deepak'

for i in str:
    if i == 'a':
        continue
    print(i)

D
e
e
p
k

In [12]:
# Break
x = 10

while x< 100:
    if x==60:
        break
    print(x)
    x+=10

10
20
30
40
50

In [13]:
index = 0

for i in 'Deepak':
    print(f'At Index {index} the letter is {i}')
    index+=1

At Index 0 the letter is D
At Index 1 the letter is e
At Index 2 the letter is e
At Index 3 the letter is p
At Index 4 the letter is a
At Index 5 the letter is k

In [14]:
index = 0
str = 'Deepak'

for i in enumerate(str):
    print(str[index])
    index+=1

D
e
e
p
a
k

In [19]:
index = 0
str = 'Deepak'

for index,letter in enumerate(str):
    print(f'{index}=>{letter}')
    index+=1

0=>D
1=>e
2=>e
3=>p
4=>a
5=>k

In [20]:
l1=[1,2,3,4]
l2=['a','b','c','d']
l3=['@','#','$','%']

for i in zip(l1,l2,l3):
    print(i)

(1, 'a', '@')
(2, 'b', '#')
(3, 'c', '$')
(4, 'd', '%')

In [32]:
from random import shuffle

In [33]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist) #does not return any value
mylist

[8, 9, 3, 6, 2, 4, 10, 5, 1, 7]

In [34]:
from random import randint

In [35]:
randint(0,1000)

115

In [36]:
mynum=randint(0,20)
mynum

9

# List comprehension

In [1]:
mystr='Deepak Sharma'

In [2]:
mylist=[]
for i in mystr:
    mylist.append(i)

In [3]:
mylist

['D', 'e', 'e', 'p', 'a', 'k', ' ', 'S', 'h', 'a', 'r', 'm', 'a']

In [14]:
mylist2=[]
mylsit2=[i for i in 'Sharma']

In [15]:
mylist2

[]

In [6]:
mylist2

NameError: name 'mylist2' is not defined

In [7]:
mylist = [i for i in 'Deepak']

In [8]:
mylist

['D', 'e', 'e', 'p', 'a', 'k']

In [16]:
mylist2

[]

In [17]:
mylist2 = [i for i in 'Hello']

In [18]:
mylist2

['H', 'e', 'l', 'l', 'o']

In [20]:
mylist3 = [i**2 for i in range(0,11)]

In [21]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
L1 = [i for i in range(0,11) if i%2==0]

In [23]:
L1

[0, 2, 4, 6, 8, 10]

In [24]:
celcius = [0,10,45,118]

In [25]:
farenheit = [((i*9/5)+32) for i in celcius]

In [26]:
farenheit

[32.0, 50.0, 113.0, 244.4]

In [28]:
results = [x if x%2==0 else 'ODD' for x in range(0,20)]

In [29]:
results

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [30]:
mylist=[]

In [31]:
for i in [2,4,6]:
    for j in [1,10,100]:
        mylist.append(i*j)

In [32]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [33]:
mylist= [i*j for i in [2,4,6] for j in [1,10,100]]

In [34]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]