In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
mylist.insert(5,'Inserted')

In [6]:
mylist

[1, 2, 3, 4, 5, 'Inserted', 6, 7, 8, 9, 10]

In [7]:
mylist.insert(5,2)

In [8]:
mylist

[1, 2, 3, 4, 5, 2, 'Inserted', 6, 7, 8, 9, 10]

In [9]:
mylist.index(2)

1

# Functions

In [10]:
def add(n1,n2):
    return n1+n2

In [11]:
num = add(23,33)
print(num)

56

In [12]:
#find outif 'dog' is in the string

In [16]:
def dog_check(mystring):
    return 'dog' in mystring

In [17]:
dog_check('My dog ran away')

True

# Pig Latin Code

In [5]:
def pig_latin(mystr):
    
    pig_word = ''
    for i in mystr.split():
        first_letter = i[0]
        if first_letter.lower() in 'aeiou':
            pig_word = pig_word + i + 'ay '
        else:
             pig_word = pig_word + i[1:] + first_letter + 'ay '
    return pig_word

In [35]:
pig_latin('My name is Deepak Sharma')

'yMay amenay isay eepakDay harmaSay '

In [37]:
pig_latin('Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.')

'Useay aay istLay omprehensionCay otay reatecay aay istlay ofay allay umbersnay etweenbay 1ay anday 05ay hattay areay ivisibleday ybay .3ay '

In [2]:
def myfunc(name):
    print('My Name is {}' .format(name))

In [39]:
myfunc('Hello Name')

My Name is Hello Name

In [3]:
var = input("Please Enter: ")
myfunc(var)

Please Enter: Deepak Sharma
My Name is Deepak Sharma

In [ ]:
myfunc(var)

In [6]:
code = input("Please enter the Code: ")
pig_latin(code)

Please enter the Code: Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

'Useay aay istLay omprehensionCay otay reatecay aay istlay ofay allay umbersnay etweenbay 1ay anday 05ay hattay areay ivisibleday ybay .3ay '

# Args and Kwargs

In [10]:
def myfunc1(*args,**kwargs):
    print(args)
    print(kwargs)
    print ('I would like to have {} {}' .format(args[0],kwargs['fruit']))

In [11]:
myfunc1(10,20,30,40, fruit = 'apple', Veggie = 'Potato', Food = 'Eggs')

(10, 20, 30, 40)
{'fruit': 'apple', 'Veggie': 'Potato', 'Food': 'Eggs'}
I would like to have 10 apple

In [48]:
def func1(*args):
    ''' Function return even numbers'''
    return[n for n in args if n%2==0]

In [49]:
func1(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

In [58]:
def func2(str):
    newstr = ''
    for i, c in enumerate(str):
        if i % 2 == 0:
            c = c.upper()
        else:
            c = c.lower()
        newstr += c
    return newstr

In [60]:
func2('Deepak Sharma')

'DeEpAk sHaRmA'

# Prime Numbers in list of numbers

In [13]:
def count_primes(num):
    primes = [2]
    non_prime = []
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
                
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [14]:
count_primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

15

In [5]:
for y in range(3,3,2):
    print(y)

# lamda, map and filter function

In [15]:
def square(num):
    return num**2

In [17]:
list1=[1,2,3,4,5,6,7,8,9]

In [23]:
list2=list(map(square,list1))
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
list2

In [21]:
print(list2)

<map object at 0x00000199F37CA688>

In [22]:
for item in list2:
    print(item)

1
4
9
16
25
36
49
64
81

In [32]:
def splicer (mystr):
    if len(mystr) % 2 == 0:
        return 'EVEN'
    else:
        return mystr[0]
str = ['Deepak', 'Jay', 'Rajat', 'Rohit']
list2 = list(map(splicer,str))

In [33]:
list2

['EVEN', 'J', 'R', 'R']

In [34]:
list3 = splicer(str)

In [35]:
list3

'EVEN'

In [36]:
def check_even(num):
    return num % 2 == 0

In [46]:
list5 = [1,2,3,4,5,6,7,8,9]

In [47]:
list(filter(check_even,list5))

[2, 4, 6, 8]

In [48]:
for n in filter(check_even,list5):
    print(n)

2
4
6
8

In [49]:
for n in map(check_even,list5):
    print(n)

False
True
False
True
False
True
False
True
False

In [52]:
list(map(lambda num:num**2,list5))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
list(filter(lambda num:num%2==0,list5))

[2, 4, 6, 8]

In [55]:
list(map(lambda x:x[0],str))

['D', 'J', 'R', 'R']

In [56]:
list(map(lambda x:x[::-1],str))

['kapeeD', 'yaJ', 'tajaR', 'tihoR']

# Nested statements and scope

In [57]:
#LEGB Rule

In [59]:
#lambda num:num**2 #this is is a local variable

In [67]:
name = 'This is Global string' #Global varriable

def greet():
    
    name = 'Deepak' # This is enclosing function varriable
    
    def hello():
        #name = 'I am Local'
        print('Hello ' + name)
    hello()

In [68]:
greet() #Follow LEGB rule

Hello Deepak

In [107]:
x = 100

def var1(x):
    print(f'The x is {x}')
    
    #LOCAL REASSIGNMENT!
    x = 200
    print(f'I just locally changed the X to {x}')

In [109]:
var1(x)
    
print(f'X is Still {x}') # Global varriable

The x is 100
I just locally changed the X to 200
X is Still 100

In [112]:
x = 200 # Global Varriable

def var2():
    global x
    print(f'The x is {x}')
    
    #LOCAL REASSIGNMENT of Global varriable
    x = 'New Value'
    print(f'I just locally changed the X to {x}')

In [113]:
var2()

The x is 200
I just locally changed the X to New Value

In [114]:
print(x)

New Value

In [147]:
i = 'My name is Deepak Sharma'

In [148]:
str= []

In [150]:
for item in i.split():
    
    str.append(item)

In [152]:
str

['My', 'name', 'is', 'Deepak', 'Sharma']

In [153]:
mylist = [1,1,1,1,2,2,2,3,3,4,4,4,5,5,6,6,7,7,8,8,9,8,8,8,7,7,5,5,6,7,8,11,11,11,11,10,10,10]

In [154]:
myset = set(mylist)

In [155]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [156]:
s = 'nurses run'

In [157]:
s1 = s.split()

In [158]:
s1

['nurses', 'run']

In [159]:
s1 = ''.join(s1)

In [160]:
s1

'nursesrun'

In [161]:
s2 = ''.join(s.split())

In [162]:
s2

'nursesrun'

In [167]:
import string

def ispangram(str1, alphabet = string.ascii_lowercase):
    return alphabet

In [182]:
strg = 'The quick brown fox jumps over the lazy dog'

In [183]:
strg

'The quick brown fox jumps over the lazy dog'

In [189]:
strg_set = set(''.join(strg.split()))

In [190]:
print(strg_set)

{'x', 'k', 'h', 'f', 'o', 's', 'p', 'T', 'm', 'i', 't', 'v', 'b', 'w', 'd', 'e', 'z', 'n', 'j', 'q', 'a', 'g', 'c', 'y', 'r', 'u', 'l'}

In [191]:
set_strg = set(strg)

In [194]:
help(randint())

NameError: name 'randint' is not defined